In [3]:
import os
import pandas as pd

## Leuven Inter rater reliability

TODO - There seems to be an error in the way I have counted 1's and 0's for a cell. Will need to change this. Multiplying by FFreq is not the right thing to do.

In [6]:
leuven_animals = pd.read_csv('../data/feature_listing/animal_leuven_norms.csv')
leuven_tools = pd.read_csv('../data/feature_listing/artifacts_leuven_norms.csv')

In [18]:
animal_leuven_norms = pd.read_csv(os.path.join('../../data/LeuvenNorms','ANIMALSexemplarfeaturesbig.txt'), sep = "\t")
# remove the first two columns in the animal_leuven_norms
animal_leuven_norms = animal_leuven_norms.drop(animal_leuven_norms.columns[[0,1]], axis=1)

In [25]:
# count the total number of cells in the animal_leuven_norms
animal_leuven_norms_count = animal_leuven_norms.count().sum()

#count the total number of cells wher the value is 0 or 4
animal_leuven_norms_zero = animal_leuven_norms.isin([0]).sum().sum()
animal_leuven_norms_four = animal_leuven_norms.isin([4]).sum().sum()
animal_leuven_norms_zero_four = animal_leuven_norms_zero + animal_leuven_norms_four

animal_leuven_norms_count, animal_leuven_norms_zero, animal_leuven_norms_four, animal_leuven_norms_zero_four ,animal_leuven_norms_zero_four/animal_leuven_norms_count

(98556, 75760, 4318, 80078, 0.8125126831446081)

## pairwise split half reliability

In [4]:
human_pairwise_df = pd.read_csv('../data/pairwise/human/human_rating_df_aug_2023.csv')

In [5]:
human_pairwise_df['subjectID']. groupby(human_pairwise_df['subjectID']).count()

subjectID
1mgoye2xx0    435
4okek6qoyk    435
716fcx6zzd    435
bfc47edr60    435
c3zto7lwnl    435
h9lfxbnb0l    435
hd3swuhan1    435
zuez35mybp    429
zzs4uadv59    435
Name: subjectID, dtype: int64

In [122]:
# remove all the rows where the subjectID is 7g1fal9av9
# human_pairwise_df = human_pairwise_df[human_pairwise_df.subjectID != '7g1fal9av9']

In [6]:
human_pairwise_df['pair_id'] = None
concepts = set(human_pairwise_df['concept_2'])

#all pairwise combinations of concepts
from itertools import combinations
concept_combinations = list(combinations(concepts, 2))
concept_combinations = [set(x) for x in concept_combinations]

# make a new column in the human_pairwise_df that is called, pair_set_id
# this is a unique id for each pair of concepts
# using the concept_combinations list, we can assign a unique id to each pair of concepts
# check if the set of pair_set is in the concept_combinations list and assign the id

#iterate over the rows in the human_pairwise_df
for index, row in human_pairwise_df.iterrows():
    id = concept_combinations.index(set([row['concept_1'], row['concept_2']]))
    # assign the id to the pair_id column
    human_pairwise_df.at[index, 'pair_id'] = id

In [7]:
human_pairwise_df['pair_id'].groupby(human_pairwise_df['pair_id']).count()

pair_id
0      9
1      9
2      9
3      9
4      9
      ..
430    9
431    9
432    9
433    9
434    9
Name: pair_id, Length: 435, dtype: int64

In [ ]:
# turn human_pairwise_df into wide format
human_pairwise_df_wide = human_pairwise_df.pivot_table(index='subjectID', columns='pair_set', values='response_clean')

In [132]:
human_pairwise_df[human_pairwise_df.subjectID == '49qbegbyj2']

,subjectID,concept_1,concept_2,response_clean,pair_set
7,49qbegbyj2,alligator,axe,3,"('alligator', 'axe')"
10,49qbegbyj2,alligator,blindworm,4,"('alligator', 'blindworm')"
18,49qbegbyj2,alligator,caiman,3,"('alligator', 'caiman')"
53,49qbegbyj2,alligator,crocodile,6,"('alligator', 'crocodile')"
54,49qbegbyj2,alligator,crocodile,5,"('alligator', 'crocodile')"
...,...,...,...,...,...
4753,49qbegbyj2,vacuum cleaner,shovel,4,"('vacuum cleaner', 'shovel')"
4754,49qbegbyj2,vacuum cleaner,shovel,2,"('vacuum cleaner', 'shovel')"
4762,49qbegbyj2,vacuum cleaner,spanner,4,"('vacuum cleaner', 'spanner')"
4763,49qbegbyj2,vacuum cleaner,spanner,4,"('vacuum cleaner', 'spanner')"
4777,49qbegbyj2,vacuum cleaner,turtle,1,"('vacuum cleaner', 'turtle')"